{include file="encabezado.tpl.html"}
<form method="post" action="{$stACTION}" name="frmCliRegistrar" enctype="multipart/form-data">
  <table cellpadding="2" cellspacing="0" class="tmFormTABLE" width="500">
  	<tr>
      <td class="tmFormHeaderFont" colspan="2" align="center">{$stBTN_ACTION} cliente</td>
    </tr>
    <tr><td class="tmErrorDataTD" colspan="2">{$stERROR|default:'&nbsp;'}</td></tr>
    <tr>
      <td class="tmFieldCaptionTD">Orden *</td>
      <td class="tmDataTD"><input tabindex="0" name="orden" value="{$stORDEN}" style="width:50px;text-align:center;" class="tmInput"></td>
    </tr>
     <tr>
      <td class="tmFieldCaptionTD">Nombre *</td>
      <td class="tmDataTD"><input tabindex="1" name="nombre" value="{$stNOMBRE}" style="width:430px;" class="tmInput"></td>
    </tr>
    <tr>
      <td colspan="2" style="padding-top:10px;">
      	<table cellpadding="0" cellspacing="0" border="0" width="100%">
      	<tr>
      	{if $stVEROPC}
      		<td width="20"><input type="checkbox" name="qhacer" {$stQUEHACER}></td><td>continuar cargando</td>
      	{/if}
        <td align="right"><input tabindex="2" name="btn_accion" type="submit" value="Aceptar" class="tmButton"></td>
		<td align="right" width="75"><input tabindex="3" name="btn_volver" type="button" value="Cancelar" class="tmButton" onclick="location.href='cli.listar.php';"></td>
		</tr>
        </table>
        <input name="id" type="hidden" value="{$stID}" />
      </td>
    </tr>
  </table>
</form>
{include file="pie.tpl.html"}