{include file="cliente.encabezado.tpl.html"}
<table border="0" cellspacing="0" cellpadding="0">
<tr><td height="5"></td></tr>
<tr>
  	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<form method="POST" action="cliente.listar.php" name="frmBusqueda">
			<tr>
			<td><font class="tmFormHeaderFont">Listado de dominios</font></td>
			<td align="right"><input type="text" name="texto" value="{$stTEXT}" size="22" class="tmInput"></td>
			<td align="right" width="60"><input name="btnBuscar" type="submit" value="Buscar" class="tmButton"></td>
			</tr>
		</form>
		</table>
  	</td>
  </tr>
  <tr><td height="5"></td></tr>
  <tr><td>Hay {$stREG_TOTAL} dominios</td></tr>
  <tr><td><table align="right"><tr>
	<td>
		{if !$stLINKS.first}&nbsp;{else}
			<a href="{$stLINKS.first}"><img src="{$stRUTAS.images}primero.gif" border="0"/></a>
		{/if}
	<td/><td>
		{if !$stLINKS.previous}&nbsp;{else}
			<a href="{$stLINKS.previous}"><img src="{$stRUTAS.images}anterior.gif" border="0"/></a>
		{/if}
	<td/>
	<td>
		{foreach from=$stPAGES item=link key=page}
			{if $page == $stPAGE}{$page}&nbsp;
			{else}<a class="tmNavigatorLink" href="{$link}">{$page}</a>&nbsp;{/if}
		{/foreach}
	</td>
	<td>
		{if !$stLINKS.next}&nbsp;{else}
			<a href="{$stLINKS.next}"><img src="{$stRUTAS.images}siguiente.gif" border="0"/></a>
		{/if}
	<td/><td>
		{if !$stLINKS.last}&nbsp;{else}
			<a href="{$stLINKS.last}"><img src="{$stRUTAS.images}ultimo.gif" border="0"/></a>
		{/if}
	</td>
	</tr></table></td></tr>
  <tr><td>
<table cellpadding="2" cellspacing="0" class="tmFormTABLE"> 
	<tr>
		<td class="tmColumnTD" nowrap width="420">
			<a href="?{$stPARAMETROS}orden=dominio&sentido={$stSNT}&page={$stPAGE}" class="tmDataLinke">Nombre</a>
		</td>
		<td class="tmColumnTD" nowrap width="90">
			<a href="?{$stPARAMETROS}orden=creado&sentido={$stSNT}&page={$stPAGE}" class="tmDataLinke">Creado</a>
		</td>
		<td class="tmColumnTD" nowrap width="90">
			<a href="?{$stPARAMETROS}orden=actualizado&sentido={$stSNT}&page={$stPAGE}" class="tmDataLinke">Actualizado</a>
		</td>
		<td class="tmColumnTD" nowrap>&nbsp;</td>
	</tr>	
{	foreach from=$stDOMINIOS key=id item=dominio}
	<tr>
		<td class='tmDataTD'><a class='tmDataLink' href='{$stRUTAS.dmi}cliente.modificar.php?Id={$id}'>{$dominio.dominio}</a></td>
		<td class='tmDataTD'>{$dominio.creado}</td>
		<td class='tmDataTD'>{$dominio.actualizado}</td>
		<td class='tmDataTD' valign="middle">
			<a class='tmDataLink' href='{$stRUTAS.dmi}cliente.modificar.php?Id={$id}'>
				<img src='{$stRUTAS.images}editar.gif' title='Modificar' border='0'/>
			</a>
		</td>
	</tr>
{ /foreach}
</table>
</td></tr></table>
{include file="cliente.pie.tpl.html"}