	</td>
  </tr>
</table>
<table cellSpacing="0" cellPadding="0" width="760" border="0">
<tr>
	<td align="left" class="tmColumnTD" width="80%" style="padding-left:10px;">
	{if $stADMIN_ID}
		<a href="{$stRUTAS.admin}contenido.php" class="tmDataLink" style="color:#333333;">Inicio</a>
		&nbsp;|&nbsp;
		<a href="{$stRUTAS.admin}logout.php" class="tmDataLink" style="color:#333333;">Salir</a>
	{/if}
	</td>
	<td align="right" class="tmColumnTD" width="20%">
		<a href="http://www.icox.com/" target="_blank"><img src="{$stRUTAS.images}logo_icox.gif" border="0"></a>
	</td>
</tr>
</table>
</div>
</center>
</body>
</html>