<div class="footer">
<div class="wrap">
  <dl>
    <dt>MAPA DEL SITIO</dt>
    <dd><a href="company.php">Empresa</a></dd>
    <dd><a href="services.php">Servicios</a></dd>
    <dd><a href="clients.php">Clientes</a></dd>
    <dd><a href="#">Noticias</a></dd>
    <dd><a href="portfolio.php">Portfolio</a></dd>
    <dd><a href="partners.php">Asociados</a></dd>
    <dd><a href="contact.php">Contacto</a></dd>   
  </dl>
  <dl>
    <dt>LINKS</dt>
    <dd><a href="company.php">Informaci&oacute;n Corporativa</a></dd>
    <dd><a href="management.php">Management</a></dd>
    <dd><a href="offices.php">Oficinas</a></dd>
    <dd><a href="#" onclick="downLoad('to_down/icox.pdf');">Folleto Corporativo</a></dd>
    <dd><a href="privacy_policy.php">Pol&iacute;tica de Privacidad</a></dd>
    <dd><a href="offices.php">Pol&iacute;tica de Reembolso</a></dd>
  </dl>
  <dl>
    <dt>CONTACTO</dt>
    <dd><strong> Tel. Espa&ntilde;a:</strong> +34 91 101 25 46 </dd>
    <dd><strong>Tel. USA:</strong>+1 860 288 2743</dd>
    <dd><strong>Tel. Argentina</strong> +54 351 5891419 / 5891429</dd>
    <dd><strong>Enviar mail a:</strong> <a href="mailto:info@icox.com">info@icox.com</a></dd>
  </dl>
  <dl class="rigth">
    <dt>LL&Aacute;MENOS</dt>
    <dd> <strong class="phone">+34 91 101 25 46</strong> </dd>
    <dd><span class="copy">Copyright &copy; 1995-2012 ICOX.<br />
      Todos los Derechos Reservados</span></dd>
    <dd><img class="logo" src="{$stRUTAS.images}logo_pie.jpg" width="116" height="47" alt="Icox.com" /></dd>
  </dl>
</div>
<div class="clear"></div>
</div>
<!--fin footer-->
</body>
</html>