{include file="tpl.cabecera_es.html"}
<!--	inicio cuerpo		-->
			<tr>
				<td valign="top" class="cuerpo">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" style="height:100%;">
					<tr>
					{include file="tpl.col_izquierda_1_es.html"}
					<!--	inicio columna cuerpo		-->
					<td class="col_cuerpo" valign="top" align="center">
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td>
								<div class="borde_verde" id="div_img_5"><img src="{$stRUTAS.images}img_5.jpg" border="0"></div>
								<script type="text/javascript">var oImg_5 = new Spry.Effect.Blind('div_img_5', {ldelim}duration:1500,from:'10px',to:'180px'{rdelim});</script>
								<!--	inicio contenido cuerpo		-->
								<div class="div_cuerpo">
								<br />
								<div class="titulo_2">Servicios</div>
								<p class="subtitulo_1">Bienvenido</p>
								<p class="txt_cuerpo">
									En Icox queremos ayudarlo a ganar nuevos clientes, a hacer mas eficiente su comunicaci&oacute;n, 
									reduciendo los costos y aprovechar al m&aacute;ximo todos los avances en tecnolog&iacute;a generando m&aacute;s 
									beneficios para Uds. y sus clientes.
									<br /><br />
									Nuestra consultor&iacute;a estrat&eacute;gica especializada en e-business, nos permite realizar un 
									an&aacute;lisis profundo de su empresa para identificar oportunidades y generar una recomendaci&oacute;n 
									y desarrollar un plan de implementaci&oacute;n, detallando los recursos tecnol&oacute;gicos, 
									organizacionales y de dise&ntilde;o necesarios.<br />
									Con 6 a&ntilde;os de experiencia en desarrollos y clientes como La C&aacute;mara de Comercio de C&oacute;rdoba, 
									Iveco Argentina, La Paulina, Se-tur Argentina, que aseguran la calidad del trabajo, 
									ponemos a disposici&oacute;n nuestro staff de consultores para que lo asesoren.<br />
									Icox tiene experiencia en desarrollos y asesoramiento en casi todo tipo de industrias, 
									a las cuales provee de soluciones espec&iacute;ficas, utilizando conceptos actuales de Supply 
									Chain Management, Content Management, Customer Relationship Management, E-Commerce y 
									Data Warehousing.<br />
									Con la implementaci&oacute;n de tecnolog&iacute;as y procesos tales como integraci&oacute;n XML, interelaciones 
									de base de datos, aplicaciones personalizadas, etc.
								</p>
								</div>
								<!--	final contenido cuerpo		-->
								</td>
							</tr>
						</table>
					</td>
					<!--	final columna cuerpo		-->
					</tr>
				</table>
				</td>
			</tr>
<!--	fin cuerpo		-->
{include file="tpl.pie_es.html"}