{include file="tpl.cabecera.html"}
<div class="banner"></div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda.html"}
    <div class="c_rigth ancho1">
      <h1>Partners</h1>
      <table width="100%" border="0">
        <tr>
          <td width="50%" align="center"><img src="{$stRUTAS.images}hosting_app.jpg" border="0"></td>
          <td width="50%" align="center"><img src="{$stRUTAS.images}hosting_sas.jpg" border="0"></td>
        </tr>
        <tr>
          <td width="50%" align="center" class="texto_partners"> Delivers basic hosting solutions<br />
            at competitive prices </td>
          <td width="50%" align="center" class="texto_partners"> Delivers complex hosting solutions<br />
            and aplications storage </td>
        </tr>
        <tr>
          <td height="20" colspan="2"></td>
        </tr>
        <tr>
          <td width="50%" align="center"><img src="{$stRUTAS.images}macro_storage.jpg" border="0"></td>
          <td width="50%" align="center"><img src="{$stRUTAS.images}gdoomains.jpg" border="0"></td>
        </tr>
        <tr>
          <td width="50%" align="center" class="texto_partners"> Delivers solutions in dedicated servers<br />
            support and maintenance </td>
          <td width="50%" align="center" class="texto_partners"> Domain registration </td>
        </tr>
        <tr>
          <td height="10" colspan="2"></td>
        </tr>
      </table>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie.html"}