{include file="tpl.cabecera_es.html"}
<div class="banner">
  <div class="wrap">
    <h1>Servicios</h1>
    {include file="tpl.menu_top_es.html"}
  </div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">      
      <h2>Plan de Marketing</h2>
								<p class="txt_cuerpo">
									Los consultores de Icox estan capacitados para realizar un completo relevamiento de la 
									situaci&oacute;n actual de su empresa, y en base a sus objetivos econ&oacute;micos financieros, 
									diagramar en conjunto con la c&uacute;pula directiva un Plan General de Internet Marketing.<br />
									Considerando a internet como hilo conductor de nuestros escenarios, y las r&aacute;pidos cambios 
									que la econom&iacute;a digital actual impone a los actores intervinientes, dicho Plan debe ser 
									seguido como gu&iacute;a y l&iacute;nea de actuaci&oacute;n, asignando recursos, cumpliendo objetivos y 
									estableciendo mecanismos de control que hagan minimizar las desviaciones sobre el 
									presupuesto en la medida que las acciones de mediano y largo plazo queden inalterables.<br />
									Es por esto que generalmente se establecen, una vez definidas las variables, intenciones y 
									acciones a efectuar, estrat&eacute;gias de implementaci&oacute;n por etapas, con objetivos claros y 
									mensurables, para comprobar la evoluci&oacute;n y adecuar los objetivos particulares de cada 
									una de las siguientes, si alg&uacute;n factor primordial en la estrategia general ha modificado 
									su esencia.<br />
									En dicho Plan se detallan los lineamientos generales y las actividades particulares a 
									seguir, como tambi&eacute;n los departamentos, &aacute;reas o actores internos de la empresa que 
									deberan efectuarlos en tiempo y forma.<br />
									Desde las acciones publicitarias y difusi&oacute;n, hasta la reestructuraci&oacute;n completa de la 
									forma de trabajo y divisiones internas, pasando por la definici&oacute;n de los productos, 
									mercado meta, comunicaci&oacute;n, fuerza de ventas, atenci&oacute;n a los consumidores.
								</p>
								<h2>Tecnolog&iacute;as Emergentes</h2>
								<p class="txt_cuerpo">
									A fin de brindar a nuestros clientes, servicios con los m&aacute;s altos est&aacute;ndares de innovaci&oacute;n 
									y desarrollo, optimizando los recursos, y aplicando los nuevos y &uacute;ltimos descubrimientos a 
									nivel mundial en materia de tecnolog&iacute;as de comunicaci&oacute;n, hardware y software.<br />
									Estamos constantemente capacit&aacute;ndonos en las tecnolog&iacute;as emergentes de este "Espacio 
									Digital &uacute;nico" donde convergen las tendencias econ&oacute;micas.<br />
									Los nuevos adelantos en materia de comunicaci&oacute;n inal&aacute;mbrica y m&oacute;vil, han creado infinidad 
									de nuevos servicios para sus clientes, las nuevas computadoras dom&eacute;sticas con capacidades 
									de procesamiento de millones de Herzios, sistemas de administracion de gigantescas bases 
									de datos actualizables remotamente y modalidades de trabajo a distancia, facilitada por 
									el advenimiento de la banda ancha de interconexci&oacute;n hacen de el estudio y aprehensi&oacute;n 
									de los conocimientos, una tarea ardua y compleja, considerando que todas y cada una de 
									estas tecnolog&iacute;as debe ser seguida, analizada y testeada en su eficacia bajo la &oacute;ptica de 
									beneficio comercial para nuestros y sus clientes.<br />
									A esta situaci&oacute;n tan particular del vol&aacute;til mundo econ&oacute;mico digital de hoy, debemos sumar 
									la problem&aacute;tica que la mayor&iacute;a de estos adelantos estan en fase de prueba y no existen 
									en muchos casos, ejemplos de eficiencia expl&iacute;cita, ni un background de a&ntilde;os de uso, 
									asimismo los recursos humanos capacitados para implementarlo, administrarlo y comunicarlo, 
									son escasos y lo que pudiera ser una ventaja competitiva de peso frente a otros actores, 
									puede r&aacute;pidamente convertirse en un lastre inmovilizante con una desici&oacute;n equivocada.<br />
									Es por todo esto que en los laboratorios de prueba de Icox, cosntantemente se estan 
									analizando y testeando nuevas tecnolog&iacute;as alternativas y desarrollos en las &aacute;reas de:<br /><br />
									Administraci&oacute;n y gesti&oacute;n de Base de Datos<br />
									Programaciones en diferentes lenguajes<br />
									Softwares e interfaces de trabajo<br />
									Redes e intercomunicaci&oacute;n<br />
									Sistemas de Teletrabajo<br />
									Seguridad y autentificaci&oacute;n<br />
									E-commerce<br />
									Integraciones multimediales
								</p>
								<h2>Auditor&iacute;as Tecnol&oacute;gicas y Comerciales</h2>
								<p class="txt_cuerpo">
									En Icox estamos constantemente capacit&aacute;ndonos sobre nuevas tecnolog&iacute;as y lineamientos 
									estructurales econ&oacute;micos comerciales, para poder asesorarlo de la manera mas efectiva 
									acerca de las acciones a tomar en su empresa.<br />
									Para ello hemos desarrollado estrategias de auditor&iacute;as en niveles de tecnolog&iacute;as 
									aplicadas, presentes y futuras y la forma en que esta afecta la productividad de 
									sus &aacute;reas comerciales.<br />
									Basados en an&aacute;lisis t&eacute;cnicos especificos y con variables acordes a su empresa, se 
									pueden definir valores aproximados de productividad y rangos de mejor&iacute;as que por 
									medio de un An&aacute;lisis de transici&oacute;n e implementaciones de Planes de Marketing adecuados 
									pueden ser alcanzados.<br />
									Asimismo, se desarrollan auditor&iacute;as externas a fin de determinar el correcto desarrollo y 
									funcionamiento de estructuras tecnol&oacute;gicas/comerciales ya montadas.
								</p>
								<h2>An&aacute;lisis de Transici&oacute;n</h2>
								<p class="txt_cuerpo">
									La implementaci&oacute;n de nuevas tecnolog&iacute;as puede afectar de manera decisiva su posici&oacute;n 
									econ&oacute;mica en el cambiante mercado actual, pero hay que considerar que una mala desici&oacute;n, 
									por desconocimiento o mal asesoramiento puede traducirse en un quiebre algunas veces, 
									imposible de superar.<br />
									Es por esto que Icox realiza un exhaustivo an&aacute;lisis de la estructura comercial y 
									tecnol&oacute;gica actual, las estrategias y los objetivos a futuro definidos por la empresa 
									para asi poder establecer cursos ciertos de acci&oacute;n en cuanto a la aplicaci&oacute;n de nuevos 
									modelos de trabajo asistidos por computadoras.<br />
									De esta manera se pueden definir metodolog&iacute;as, procesos y etapas, de manera que el 
									cambio no resulte traum&aacute;tico para la estructura comercial y los recursos humanos 
									involucrados en el proceso. Todos estos estudios y an&aacute;lisis est&aacute;n en estrecha relaci&oacute;n 
									con los programas a futuro establecidos por la compa&ntilde;&iacute;a, con sus objetivos y metas y 
									deben, por ello, ser plasmados de manera clara y concisa en un Plan de Marketing.
								</p>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}