<!--	inicio pie		-->
			<tr>
				<td class="pie">
					<table align="right" border="0">
						<tr>
							<td class="txt_pie"><strong>Tel. Argentina:</strong> +54 +351 4721051</td><td width="20"></td>
							<td class="txt_pie"><strong>Tel. USA:</strong> +1 646 225 9420</td><td width="20"></td>
							<td class="txt_pie"><strong>Contactos a:</strong> <a class="a_pie" href="mailto:informacion@icox.com">informacion@icox.com</a></td><td width="100"></td>
						</tr>
						<tr>
							<td class="txt_copyright" colspan="3">&copy; {$stANIO_ACTUAL} Icox Consulting Inc. Todos los derechos reservados</td>
						</tr>
					</table>
				</td>
			</tr>
<!--	fin pie		-->
		</table>
	</center>
</body>
</html>