{include file="tpl.cabecera_es.html"}
<div class="banner"><div class="wrap"><h1>Direcci&oacute;n</h1></div></div>


<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">
      
      <h2>Staff Permanente</h2>
      <p> ICOX Consulting esta conformado por un confiable y s&oacute;lido grupo de trabajo, con objetivos 
									 y metas claros acordes a la visi&oacute;n de la empresa y amplio en sus experiencias.<br />
									 Todos comparten el entusiasmo de participar en una empresa binacional generando una 
									 sinergia que ubique a ICOX como una de las principales consultoras de Tecnologias de 
									 la Informaci&oacute;n y Negocios en Am&eacute;rica Latina.
      <div style="font-family:arial;text-align:right;font-size:12px;color:#2C2C2C; font-style:italic;">Daniel Diego Godoy - CEO</div>
      </p>
      <h2>Valores de la Empresa</h2>
      
          <dl><dt>Profesionalismo</dt>
          <dd>Trabajar constantemente apuntando a la calidad total del servicio brindado. Cumplir con los planes en tiempo y forma..</dd>
       
          <dt>Compromiso</dt>
          <dd>Cien por ciento de compenetraci&oacute;n con la problem&aacute;tica del cliente.</dd>
       
          <dt>Innovaci&oacute;n</dt>
          <dd>Investigar "lo nuevo", generar nuevos conceptos que ayuden a nuestros clientes a cumplir con sus objetivos. Pensar lateralmente.</dd>
       
          <dt>Transmisi&oacute;n de Conocimiento</dt>
          <dd>Ningún conocimiento que se adquiere tiene sentido si no se transmite. Ense&ntilde;amos a nuestros clientes a hacer ellos mismos las cosas.</dd></dl>
       
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}