<div class="footer">
<div class="wrap">
  <dl>
    <dt>MAPA DEL SITIO</dt>
    <dd><a href="company.php">Empresa</a></dd>
    <dd><a href="services.php">Servicios</a></dd>
    <dd><a href="clients.php">Clientes</a></dd>
    <dd><a href="#">Noticias</a></dd>
    <dd><a href="portfolio.php">Portfolio</a></dd>
    <dd><a href="partners.php">Asociados</a></dd>
    <dd><a href="contact.php">Contacto</a></dd>   
  </dl>
  <dl>
    <dt>LINKS</dt>
    <dd><a href="company.php">Información Corporativa</a></dd>
    <dd><a href="management.php">Management</a></dd>
    <dd><a href="offices.php">Oficinas</a></dd>
    <dd><a href="#" onclick="downLoad('to_down/icox.pdf');">Folleto Corporativo</a></dd>
  </dl>
  <dl>
    <dt>CONTACTO</dt>
    <dd><strong> Tel. España:</strong> +34(91)6238234 </dd>
    <dd><strong>Tel. USA:</strong> +1(484) 4615150 +1(646)2259420</dd>
    <dd><strong>Tel. Argentina</strong> +1(484) 4615150</dd>
    <dd><strong>Enviar mail a:</strong> <a href="mailto:contacto@icox.com">contacto@icox.com</a></dd>
  </dl>
  <dl class="rigth">
    <dt>LL&Aacute;MENOS</dt>
    <dd> <strong class="phone">(91)6238234</strong> </dd>
    <dd><span class="copy">Copyright © 1995-{$stANIO_ACTUAL} ICOX.<br />
      Todos los Derechos Reservados</span></dd>
    <dd><img class="logo" src="{$stRUTAS.images}logo_pie.jpg" width="116" height="47" alt="Icox.com" /></dd>
  </dl>
</div>
<div class="clear"></div>
</div>
<!--fin footer-->
</body>
</html>