{include file="tpl.cabecera_es.html"}
<!--	inicio cuerpo		-->
			<tr>
				<td valign="top" class="cuerpo">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" style="height:100%;">
					<tr>
					{include file="tpl.col_izquierda_es.html"}
					<!--	inicio columna cuerpo		-->
					<td class="col_cuerpo" valign="top" align="center">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td align="left">
								<div class="borde_verde" id="div_img_2"><img src="{$stRUTAS.images}img_2.jpg" border="0"></div>
								<script type="text/javascript">var oImg_2 = new Spry.Effect.Blind('div_img_2', {ldelim}duration:1500,from:'10px',to:'180px'{rdelim});</script>
								<!--	inicio contenido cuerpo		-->
								<div class="div_cuerpo">
								<br />
								<div class="titulo_2">Direcci&oacute;n</div>
								<p class="subtitulo_1">Staff Permanente</p>
								<p class="txt_cuerpo">
									 ICOX Consulting esta conformado por un confiable y s&oacute;lido grupo de trabajo, con objetivos 
									 y metas claros acordes a la visi&oacute;n de la empresa y amplio en sus experiencias.<br />
									 Todos comparten el entusiasmo de participar en una empresa binacional generando una 
									 sinergia que ubique a ICOX como una de las principales consultoras de Tecnologias de 
									 la Informaci&oacute;n y Negocios en Am&eacute;rica Latina.
									 <div style="font-family:arial;text-align:right;font-size:12px;color:#2C2C2C;">Daniel Diego Godoy - CEO</div>
								</p>
								<p class="subtitulo_1">Valores de la Empresa</p>
								<p class="txt_cuerpo">
									<table border="0">
										<tr>
											<td class="res_cuerpo" valign="top" width="150">Profesionalismo</td>
											<td class="txt_cuerpo">Trabajar constantemente apuntando a la calidad total del servicio brindado. Cumplir con los planes en tiempo y forma.</td>
										</tr>
										<tr>
											<td class="res_cuerpo" valign="top">Compromiso</td>
											<td class="txt_cuerpo">Cien por ciento de compenetraci&oacute;n con la problem&aacute;tica del cliente.</td>
										</tr>
										<tr>
											<td class="res_cuerpo">Innovaci&oacute;n</td>
											<td class="txt_cuerpo">Investigar "lo nuevo", generar nuevos conceptos que ayuden a nuestros clientes a cumplir con sus objetivos. Pensar lateralmente.</td>
										</tr>
										<tr>
											<td class="res_cuerpo">Transmisi&oacute;n de Conocimiento</td>
											<td class="txt_cuerpo">Ningún conocimiento que se adquiere tiene sentido si no se transmite. Ense&ntilde;amos a nuestros clientes a hacer ellos mismos las cosas.</td>
										</tr>
									</table>
								</p>
								<br />
								</div>
								<!--	final contenido cuerpo		-->
								</td>
							</tr>
						</table>
					</td>
					<!--	final columna cuerpo		-->
					</tr>
				</table>
				</td>
			</tr>
<!--	fin cuerpo		-->
{include file="tpl.pie_es.html"}