{include file="tpl.cabecera_es.html"}
<div class="banner">
  <div class="wrap">
    <h1>Servicios</h1>
    <ul>
        <li><a href="offshore.php" id="iz_offshore">Offshore</a></li>
        <li><a href="developments.php" id="iz_developments">Desarrollos</a></li>
        <li><a href="consultancy.php" id="iz_consultancy">Consultor&iacute;a</a></li>
        <li><a href="ebusiness.php" id="iz_ebusiness">E-business</a></li>
        <li><a href="quality_assurance.php" id="iz_quality_assurance">Calidad (QA)</a></li>
        <li><a href="networking.php" id="iz_networking" class="selected">Networking</a></li>
      </ul></div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">      
      <h2>Trabajo en redes locales, Intranet y Extranet</h2>
								<p class="txt_cuerpo">
									Con la explosi&oacute;n de los nuevos paradigmas de trabajo corporativo remoto en relaci&oacute;n con 
									los medios de comunicaci&oacute;n, empresas de todos los tama&ntilde;os se han dado cuenta que deben usar 
									Internet para obtener un perfil m&aacute;s competitivo y para continuar teniendo &eacute;xito a medida 
									que entran en el nuevo milenio.<br />
									Internet es un nuevo concepto de negocio y las empresas necesitan tecnolog&iacute;as que mejores 
									la toma de decisiones, y al mismo tiempo lez ofrezcan seguridad y mayor rendimiento. Las 
									soluciones que de este ambito se derivan, transforman de una vez y para siempre la 
									estructura de la empresa, sacudi&eacute;ndola del polvo y empuj&aacute;ndolas al nuevo milenio.<br />
									Un modelo de networking est&aacute; mejor adaptado para poder aprovechar los beneficios de 
									Internet, puesto que ofrece a las empresas costos de administraci&oacute;n reducidos, 
									distribuci&oacute;n m&aacute;s r&aacute;pida de las aplicaciones, administraci&oacute;n centralizada de las 
									aplicaciones y la posibilidad de aprovechar las inversiones en hardware existentes.<br />
									Todo ello ofrece beneficios que contribuyen al desarrollo y productividad tan buscada, 
									tanto sea interna como externa, considerando a los clientes, usuarios y proovedores. 
									Nosotros vimos el cambio a este modelo de enfoque y por ello desarrollamos productos 
									que se ofrecen sobre networking hoy, y continuamos aplicando tecnolog&iacute;as &uacute;nicas que 
									ayuden a las empresas a aprovechar las ventajas de la potencia de Internet.
								</p>
								<h2>Conexiones Corporativas</h2>
								<p class="txt_cuerpo">
									Internet se ha convertido en un medio esencial en el marco de la sociedad de la informaci&oacute;n en la 
									que vivimos. Nuestro departamento ofrece la posibilidad de conectar su entorno o red de 
									trabajo a la red mundial, en unas condiciones &oacute;ptimas para beneficiarse de las m&uacute;ltiples 
									ventajas que supone el acceso a la misma.<br />
									Algunas de las caracter&iacute;sticas de la arquitectura de conexi&oacute;n que ofrecemos seg&uacute;n 
									las diferentes necesidades, que ha sido instalada, configurada y mantenida en muchos 
									clientes son:<br /><br />
									Instalando en un servidor no dedicado, sin l&iacute;neas adicionales u otros equipos, permite conectar a internet su red interna a internet, seg&uacute;n sus necesidades.<br />
									Posibilitando, administrando y optimizando la conectividad externa con sus usuarios, clientes y proveedores.<br />
									Compartiendo los recursos y aplicaciones de comunicaci&oacute;n, tales como, mensajeros instant&aacute;neos gestores de mails, netmeeting, navegadores, etc.<br />
									No modifica el uso de otros programas de aplicaci&oacute;n interna, como por ejemplo, sistemas de facturaci&oacute;n, reservas, stock, o relaci&oacute;n con otras redes internas de trabajo.<br />
									Permite vincular diferentes &aacute;reas de trabajo y personas con su mails internos.<br />
									Habilitaci&oacute;n discriminada del acceso a Internet de los departamentos e identificaci&oacute;n de cada uno de los usuarios.<br />
									Creaci&oacute;n de cuentas de e-mails internos, gesti&oacute;n de las listas de correo.<br />
									Compatibilidad completa con web servers para intranets.
								</p>
								<h2>Seguridad</h2>
								<p class="txt_cuerpo">
									La creciente necesidad de informaci&oacute;n y comunicaci&oacute;n tambi&eacute;n nos leva a tener que aumentar 
									las medidas de seguridad, tanto en el &aacute;mbito local como con la conexi&oacute;n al Internet.<br />
									El crecimiento exponencial del Internet y la conexi&oacute;n de las redes empresariales internas 
									Intranets conllevan a nuevos riesgos en cuanto a la seguridad se refiere, trayendo as&iacute; 
									nuevos problemas empresariales. Gran cantidad de empresas se hacen la pregunta, de como 
									poder de manera segura usar comercialmente el Internet? Como se puede proteger de visitas 
									no deseadas? Como se puede controlar el acceso a las redes? Como se puede lograr a buen 
									precio la protecci&oacute;n integral?<br />
									Icox ha logrado juntar la experticia t&eacute;cnica necesaria para conducir su empresa por el 
									camino exitoso en cuanto a soluciones de seguridad para la misma.<br />
									Tradicionalmente se usaban los sistemas de Firewall, Tunnel y Anti-Virus como mecanismos 
									de seguridad para las redes. Las Firewall descansan sobre distintas tecnolog&iacute;as para el 
									montaje confiable y flexible de barreras protectoras entre sus redes privadas, el Internet 
									y otras redes. Las Firewall le ofrecen funciones de control, gran seguridad, monitoreo en 
									tiempo real, gran cantidad de protocolizaci&oacute;n y mecanismos de rechazo. A&uacute;n con estas 
									calificaciones de rendimiento, las Firewall solo le garantizan de una manera relativa la 
									seguridad de sus redes.<br />
									Mediante el uso de los llamados Procedimientos de Tunneling y haciendo uso del Internet 
									global como red principal, se logra una protecci&oacute;n muy elevada y confidencial de sus datos, 
									al extender sus redes internas hasta convertirlas en redes privadas virtuales (VPN) Usted 
									mediante este mecanismo de Tunnel, puede en cualquier momento y lugar, entablar una 
									comunicaci&oacute;n confidencial, segura y econ&oacute;mica con su empresa, socios comerciales, 
									proveedores, trabajadores externos y sus clientes.<br />
									Ahora bien, una soluci&oacute;n amplia de seguridad que se extienda a lo largo de las fronteras 
									de la empresa debe estar en la capacidad de poder ofrecer un Concepto de Seguridad global 
									que logre consolidar todos los puntos de acceso distribuidos en la empresa 
									(Internet/Intranet Server, Remote Server, Router, Switches, etc.), sin que se pierda 
									la flexibilidad en las interconexiones. Esta soluci&oacute;n de seguridad debe dejar superado 
									el concepto tradicional del Firewall, como control de acceso al Internet, y ofrecer una 
									soluci&oacute;n amplia, que se adecue a los nuevos requisitos que est&aacute;n en constante evoluci&oacute;n.<br />
									Una soluci&oacute;n integral de seguridad interemprearial (las llamadas Security Suites) deben 
									incorporar los siguientes componentes: Control de Seguridad, Autentificaci&oacute;n, 
									Encriptamiento, Open Security Manager, Monitoreo y Control de Direcciones 
									(URL-Filtering), Seguridad del Contenido, el llamado content security (Anti-Virus, URL y 
									Java/ActiveX Screening), Control de Conexiones, posibilidades de Protocolizaci&oacute;n y 
									Control de Costos.<br />Icox le ayuda a implementar Sistemas de Seguridad integrales 
									para que sus redes sean seguras y tengan el rendimiento para el cabal intercambio de 
									informaci&oacute;n. Con nuestro Know-how t&eacute;cnico y experiencia pr&aacute;ctica actual, le garantizamos 
									que su estructura de redes est&eacute; de acorde con los requisitos de sus procesos empresariales.
									Nosotros lo acompa&ntilde;amos desde las primeras ideas hasta la implementaci&oacute;n definitiva de 
									un concepto general en cuanto a los sistemas de seguridad.
									A trav&eacute;s de conceptos individuales de seguridad y configuraciones a la medida de cada 
									uno de los servicios de comunicaci&oacute;n involucrados, logramos optimizar sus redes en 
									cuanto a seguridad y servicio se refiere.
								</p>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}