<ul>
    <li><a href="offshore.php" id="iz_offshore">Offshore</a></li>
    <li><a href="developments.php" id="iz_developments">Desarrollos</a></li>
    <li><a href="consultancy.php" id="iz_consultancy">Consultor&iacute;a</a></li>
    <li><a href="quality_assurance.php" id="iz_quality_assurance">Calidad (QA)</a></li>
    <li><a href="ebusiness.php" id="iz_ebusiness">E-business</a></li>
    <li><a href="networking.php" id="iz_networking">Networking</a></li>
    <li><a href="prices.php" id="iz_prices">Precios</a></li>
</ul>
