{include file="tpl.cabecera_es.html"}
<div class="banner">
  <div class="wrap"><h1>Precios</h1>
    {include file="tpl.menu_top_es.html"}
  </div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">
      <p>Los precios se definen en funci&oacute;n del tipo de servicio o necesidad del cliente; ya que hacemos desarrollos llave en mano; por lo cual ser&aacute; necesario solicitar un presupuesto para cada proyecto en particular.</p>
    <table cellpadding="0" cellspacing="0" class="c5"><tbody><tr><td class="c2"><p class="c0"><span>An&aacute;lisis de sistemas/proyectos</span></p></td><td class="c1"><p class="c0"><span>$ 35* </span></p></td></tr>
	<tr><td class="c2"><p class="c0"><span>L&iacute;der de proyecto</span></p></td><td class="c1"><p class="c0"><span>$ 35*</span></p></td></tr>
	<tr><td class="c2"><p class="c0"><span>Programci&oacute;n</span></p></td><td class="c1"><p class="c0"><span>$ 35*</span></p></td></tr>
	<tr><td class="c2"><p class="c0"><span>Dise&ntilde;o</span></p></td><td class="c1"><p class="c0"><span>$ 35*</span></p></td></tr>
	<tr><td class="c2"><p class="c0"><span>Consultor&iacute;a </span></p></td><td class="c1"><p class="c0"><span>$ 35*</span></p></td></tr>
	<tr><td class="c2"><p class="c0"><span>Dise&ntilde;o de E-lerning </span></p></td><td class="c1"><p class="c0"><span>$ 35*</span></p></td></tr>
	<tr><td class="c2"><p class="c0"><span>Control de calidad </span></p></td><td class="c1"><p class="c0"><span>$ 35*</span></p></td></tr></tbody></table>
<p class="c4"><span class="c6">*precios expresados en d&oacute;lares estadounidenses por hora por recurso. </span></p>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}
