{include file="tpl.cabecera.html"}
<div class="banner"><div class="wrap"><h1>Partners</h1></div></div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda.html"}
    <div class="c_rigth ancho1">
      <h2>Our Partners</h2>
      <table width="100%" border="0">
        <tr>
          <td width="50%" align="center"><img src="{$stRUTAS.images}hosting_app.jpg" border="0"></td>
          <td width="50%" align="center"><img src="{$stRUTAS.images}hosting_sas.jpg" border="0"></td>
        </tr>
        <tr>
          <td width="50%" align="center" class="texto_partners"> <p><strong>Delivers basic hosting solutions<br />
            at competitive prices</strong> </p></td>
          <td width="50%" align="center" class="texto_partners"> <p><strong>Delivers complex hosting solutions<br />
            and aplications storage </strong></p></td>
        </tr>
        <tr>
          <td height="20" colspan="2"></td>
        </tr>
        <tr>
          <td width="50%" align="center"><img src="{$stRUTAS.images}macro_storage.jpg" border="0"></td>
          <td width="50%" align="center"><img src="{$stRUTAS.images}gdoomains.jpg" border="0"></td>
        </tr>
        <tr>
          <td width="50%" align="center" class="texto_partners"> <p><strong>Delivers solutions in dedicated servers<br />
            support and maintenance</strong></p> </td>
          <td width="50%" align="center" class="texto_partners"> <p><strong>Domain registration</strong></p> </td>
        </tr>
        <tr>
          <td height="10" colspan="2"></td>
        </tr>
      </table>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie.html"}