{include file="tpl.cabecera_es.html"}
<div class="banner"><div class="wrap"><h1>Pol&iacute;tica de Reembolso</h1></div></div>


<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">
      <p>Si usted no est&aacute; 100% satisfecho con su compra, el plazo de 120 d&iacute;as a partir de la fecha de compra, se le reembolsar&aacute; totalmente el costo de su pedido.</p>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}
