{include file="tpl.cabecera_es.html"}
<div class="banner"><div class="wrap"><h1>Informaci&oacute;n Corporativa</h1></div></div>
<!--fin banner-->
<div class="content">
  <div class="wrap">
    {include file="tpl.col_izquierda_es.html"}
<div class="c_rigth ancho1">
    	<h2>Misi&oacute;n</h2>
   	  <p  class="texto1">En Icox ayudamos a las organizaciones en su necesidad de rentabilidad, productividad, crecimiento 
									y competitividad mediante el asesoramiento en el desarrollo y aplicaci&oacute;n de estrategias y tecnolog&iacute;as 
									de informaci&oacute;n y comunicaci&oacute;n.</p>
       
      <h2>Historia</h2>
        <p  class="texto1">Icox Consulting nace en 1995 como una compa&ntilde;&iacute;a Binacional en C&oacute;rdoba, 
									Argentina, y Montreal, Canad&aacute;, trabajando desde sus inicios en la econom&iacute;a 
									emergente de Internet.<br />
									Durante su existencia, nuestra firma ha adquirido una gran experiencia y profesionalismo, 
									creciendo no solamente en conocimiento, sino tambi&eacute;n en desarrollos, 
									innovaci&oacute;n e implementaci&oacute;n de las mejores tecnolog&iacute;as dentro del 
									campo de internet, en industrias tales como Turismo, Telecomunicaciones, Servicios 
									Financieros, Mercado Industrial, Gobierno y Recursos Naturales, y la Industria Editorial.</p>
        <p  class="texto1">
									Durante el a&ntilde;o 2001, Icox consulting se asocia con Sitio Digital, una 
									compa&ntilde;&iacute;a de Dise&ntilde;o de Sitios Web de vanguardia, buscando ofrecer la 
									mejor calidad de servicios para nuestros clientes.<br />
									Adem&aacute;s de los servicios principales que distinguen y definen nuestra empresa, 
									actualmente estamos trabajando en la implementaci&oacute;n de soluciones nuevas basadas 
									en tecnolog&iacute;a P2P desde Canad&aacute;, y en realizar desde Argentina desarrollos 
									bajo el concepto "offshore" para empresas Internacionales.</p>
        
    </div><!--fin c_rigth-->
<div class="clear"></div>
  </div>
  
</div>
<!--fin content-->           
            
{include file="tpl.pie_es.html"}