{include file="tpl.cabecera.html"}
            
            
<div class="banner"><div class="titulo_2">Offshore</div></div>
<!--fin banner-->
<div class="content">
  <div class="wrap">
    {include file="tpl.col_izquierda.html"}
<div class="c_rigth ancho1">
    	<h1>Mission</h1>
      	<p class="subtitulo_1">Developments</p>
								<p class="txt_cuerpo">
									The benefits that Information Technology (IT) can provide to a company, without considering its size, are of common knowledge, 
									as much as are the fast changes in the IT.<br />"Offshore" is usually defined as the development of all type of projects and 
									services in the area of IT outside the country, such as project analysis, designs, codification, coordination, testing, and 
									company maintenance, delegating these projects to companies that can offer quality of services at low costs. In fact, the most 
									important companies in the world make use of offshore developments, or have had their own branches established in other countries. 
									The greater companies of hardware and software such as Microsoft, IBM, Apple, Novell, Sun and Siemens take ahead offshore 
									strategies. Many of the most famous software applications in the world are developed offshore, partialy or completely.<br />
									Nowadays, many companies are interested in outsorcing their human services in the IT working area, resources, other functions. 
									Outsorcing these services will release its administrative and maintenance personnel and it will allow them to focus in the main 
									company objectives.<br />In order to take ahead this type of projects, you need to outsource services to a services supplier leader. 
									Particularly, you require a supplier which fulfills your company standards, that adapts to the changes your business requires, 
									that offers custom solutions, according to your needs, and that simplifies your administration allowing you to focus in your 
									businesses. Therefore, Icox Consulting is the suitable decision to face Offshore developments. We have taken these type of 
									projects to a new level, integrating sophisticated technology, excellent services for our clients, and excellent human resources, 
									with great specialization and experience in its areas. For a maximum of flexibility, Icox Consulting offers to you the option to 
									take ahead different developments destined to fulfill requirements where IT are involved.
								</p>
								<p class="subtitulo_1">Advantages</p>
								<p class="txt_cuerpo">
									Offshore Developments can offer a great variety of benefits, including:<br />
									Technical competition: The best professionals in the IT area are available and can work for you.<br />
									Quality: We assure to our clients that their projects will be carried out on time and according to the highest quality and technical standards.<br />
									Costs: Our clients will save at least a 50 percent of all their expenses compared to "in-house"developments, without 
									considering infrastructure and equipment expenses. Starting the Project: Normally beginning an offshore development 
									is faster and easier than "in-house" proyect. In addition, offshore companies can take projects at any stage.<br />
									Protection: All intellectual property rights will belong to the original company. The financial protection is also guaranteed, 
									since the payments only are done when the basic objectives have been obtained. In addition, nowadays, offering fixed price 
									solutions with guaranteed time limits is a normal procedure in Offshore companies.
								</p>
								<p class="subtitulo_1">Icox Consulting</p>
								<p class="txt_cuerpo">
									Our company offers offshore developments y different working and services areas:<br />
									Proyects Development for goods and services exportation. Workee out in B2B, B2C, B2E enviroments, etc.<br /><br />
    								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Workflow developments using Internet for these processes<br />
								    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ERP (Enterprise Resource Planning)<br />
								    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCM(Supply Chain Management)<br />
								    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CRM (Customer Relationship Management)<br />
								    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Content Management<br />
								    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-Tourism.<br />
								    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-Commerce<br />
								    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-Procurment<br />
								    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-Positioning<br />
								    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Technical Consulting<br /><br />
									Although the evident advantages, offshore development processes endured several problems (lowreliability, organization 
									problems, etc.) Due to such inconvenients, many firms are concerned about hiring services from offshore type companies 
									in order to outsource their proyects.<br />
									That is why our main company goal is to offer our clients a great variety in offshore developments concerning E-bussiness, 
									reaching great quality at reasonable costs. 
								</p>
    </div><!--fin c_rigth-->
<div class="clear"></div>
  </div>
  
</div>
<!--fin content-->           
            

{include file="tpl.pie.html"}