<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Icox Consulting</title>
<link rel="Shortcut Icon" href="favicon.ico">
<link href="{$stRUTAS.estilo}styles.css" type="text/css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="{$stRUTAS.jscript}front.js"></script>
<script type="text/javascript" language="javascript" src="{$stRUTAS.jscript}ie_swf.js"></script>
{if $stSET_CSS_GALERIA}
	<link rel="stylesheet" href="{$stRUTAS.estilo}jd.gallery.css" type="text/css" media="screen" charset="utf-8" />
	<script type="text/javascript" language="javascript" src="{$stRUTAS.jscript}jd/mootools.js"></script>
	<script type="text/javascript" language="javascript" src="{$stRUTAS.jscript}jd/jd.gallery.js"></script>
{else}
	<script type="text/javascript" language="javascript" src="{$stRUTAS.jscript}spry/SpryEffects.js"></script>
{/if}
</head>
<body>
<div class="header"> <img src="{$stRUTAS.images}logo.png" onclick="index.php" width="184" height="65" alt="Home" class="logo" />
  <ul class="menu">
    <li><a href="company.php" class="selected" id="mn_company" >COMPANY</a></li>
    <li><a href="services.php" id="mn_services">SERVICES</a></li>
    <li><a href="clients.php" id="mn_clientes">CLIENTS</a></li>
   <!-- <li><a href="#">NOTICIAS</a></li>-->
    <li><a href="portfolio.php" id="mn_portfolio">PORTFOLIO</a></li>
    <li><a href="partners.php" id="mn_partners" >PARTNERS</a></li>
    <li><a href="contact.php" id="mn_contact">CONTACT</a></li>
  </ul>
  <a href="#" class="lang"> 
  	<img src="{$stRUTAS.images}lang_es.png" alt="Español" width="20" height="15" border="0" onclick="document.location='change.php?language=_es';" /> 
    <span class="desplegable">
    	<img src="{$stRUTAS.images}lang_en.png" alt="English" width="20" height="15" border="0" onclick="document.location='change.php?language=';" /> En</span>
  </a> </div>
<!--fin header-->