<!--	inicio pie		-->
			<tr>
				<td class="pie"><table width="800" border="0" align="right" cellpadding="2">
                  <tr>
                    <td width="158" rowspan="4" align="center" valign="middle" class="logo_pie"><img src="{$stRUTAS.images}logo_pie.jpg" alt="icox consultig" /></td>
                    <td height="3" class="txt_pie"></td>
                  </tr>
                  <tr>
                    <td width="628" align="left" class="txt_pie"><strong><!--Tel. Argentina:</strong> +54 0351 4721051<strong> |--> Tel. Espa&ntilde;a:</strong> +34(91)6238234 | <strong>Tel. USA:</strong> +1(484) 4615150 +1(646)2259420</td>
                  </tr>
                  
                  <tr>
                    <td align="left" class="txt_pie"><strong>Contactos a: </strong><a class="a_pie" href="mailto:informacion@icox.com"><img src="{$stRUTAS.images}mailto_ar.gif" alt="contacto icox" height="11" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td align="left" class="txt_copyright">&copy; {$stANIO_ACTUAL} Icox Consulting Inc. Todos los derechos reservados.</td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle" class="txt_pie"></td>
                    <td height="3" class="txt_copyright"></td>
                  </tr>
                </table></td>
			</tr>
<!--	fin pie		-->
		</table>
	</center>
</body>
</html>