<!--	inicio columna izquierda		-->
<td class="col_izquierda" valign="top">
	<table>
		<tr>
			<td class="titulo_1">>&nbsp;LANGUAGES</td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr><td height="15"></td></tr>
		<tr>
			<td align="center">
				<img src="{$stRUTAS.images}ar_disabled.jpg" border="0" onclick="document.location='change.php?language=_es';" style="cursor:pointer;" title="Spanish">
			</td>
			<td align="center">
				<img src="{$stRUTAS.images}us.jpg" border="0" onclick="document.location='change.php?language=';" style="cursor:pointer;" title="English">
			</td>
		</tr>
		<tr><td height="15"></td></tr>
	</table>
	<table>
		<tr>
			<td class="titulo_1">>&nbsp;SUBSECTIONS</td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr><td height="15"></td></tr>
		<tr>
			<td width="20" align="center"><img src="{$stRUTAS.images}flecha_col_izq.gif" border="0"></td>
			<td align="left"><span class="txt_izq" id="iz_company" onmouseover="colorIz(this.id,1)" onmouseout="colorIz(this.id,0)" onclick="goTo('company.php');">Corporate Information</span></td>
		</tr>
		<tr><td height="15"></td></tr>
		<tr>
			<td width="20" align="center"><img src="{$stRUTAS.images}flecha_col_izq.gif" border="0"></td>
			<td align="left"><span class="txt_izq" id="iz_management" onmouseover="colorIz(this.id,1)" onmouseout="colorIz(this.id,0)" onclick="goTo('management.php');">Management</span></td>
		</tr>
		<tr><td height="15"></td></tr>
		<tr>
			<td width="20" align="center"><img src="{$stRUTAS.images}flecha_col_izq.gif" border="0"></td>
			<td align="left"><span class="txt_izq" id="iz_offices" onmouseover="colorIz(this.id,1)" onmouseout="colorIz(this.id,0)" onclick="goTo('offices.php');">Offices</span></td>
		</tr>
		<tr><td height="15"></td></tr>
	</table>
	<table>
		<tr><td class="titulo_1">>&nbsp;DOWNLOAD</td></tr>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr><td height="15"></td></tr>
		<tr>
			<td width="20" align="center"><img src="{$stRUTAS.images}flecha_col_izq.gif" border="0"></td>
			<td align="left"><span class="txt_izq" id="iz_brochure" onmouseover="colorIz(this.id,1)" onmouseout="colorIz(this.id,0)" onclick="downLoad('to_down/icox.pdf');">Corporate Brochure</span></td>
		</tr>
	</table>
</td>
<!--	final columna izquierda		-->