{include file="tpl.cabecera_es.html"}
<!--	inicio cuerpo		-->
			<tr>
				<td valign="top" class="cuerpo">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" style="height:100%;">
					<tr>
					{include file="tpl.col_izquierda_1_es.html"}
					<!--	inicio columna cuerpo		-->
					<td class="col_cuerpo" valign="top" align="center">
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td>
								<!--	inicio contenido cuerpo		-->
								<div class="div_cuerpo">
								<br />
								<div class="titulo_2">Desarrollos</div>
								<p class="subtitulo_1">Requerimientos Espec&iacute;ficos</p>
								<p class="txt_cuerpo">
									Desarrollos integrales y espec&iacute;ficos de acuerdo a sus necesidades:<br />
									Consultor&iacute;a general sobre Tecnolog&iacute;as y Negocios, Internet, E-commerce, Web Marketing, 
									Auditor&iacute;as inform&aacute;ticas, segurizaci&oacute;n, conectividad, programac&iacute;on, imagen corporativa, 
									redes, multimedia, etc.<br />
									Planes de Internet marketing, an&aacute;lisis de tecnolog&iacute;as emergentes aplicada a nuevos 
									negocios e impacto sobre estructuras comerciales actuales, desarrollos modulados, 
									gesti&oacute;n y administraci&oacute;n de dominios, asistencia t&eacute;cnica integral.<br />
									Los mejores servicios con la mejor atenci&oacute;n, ponemos a su disposici&oacute;n a los mejores 
									profesionales para que lo ayuden a buscar la soluci&oacute;n perfecta a sus necesidades.<br />
									En Icox trabajamos y desarrollamos soluciones en estrategias de comunicaci&oacute;n, creamos 
									aplicaciones y software a medida de los requerimientos de cada proyecto y cliente.
								</p>
								<p class="subtitulo_1">Planificaci&oacute;n Estructurada</p>
								<p class="txt_cuerpo">
									De acuerdo a las posibilidades de cada cliente, y en relaci&oacute;n directa con sus objetivos 
									comerciales, es probable que sea necesario un desarrollo de mediana o gran envergadura, 
									que impacte de manera profunda en su forma actual de trabajo o generaci&oacute;n de informaci&oacute;n.<br />
									En estos casos analizamos su problem&aacute;tica particular y diagramamos planes de implementacion 
									espec&iacute;ficos en etapas. De esta manera el desarrollo se plantea en segmentos de aplicaci&oacute;n, 
									mientras se va capacitando el personal necesario para llevar a cabo la tarea de 
									mantenimiento o solucion, segun sea necesario. Esta modalidad de servicio minimiza el 
									impacto en la estructura comercial vigente y optimiza los factores que generan la 
									informaci&oacute;n necesaria para la transici&oacute;n digital.
								</p>
								<p class="subtitulo_1">Experiencia</p>
								<p class="txt_cuerpo">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desarrollo de proyectos para bienes y servicios. Trabajados en ambientes B2B, B2C, B2E, etc.<br />
    								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desarrollos de Wordflow usando Internet para estos procesos<br />
    								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ERP (Enterprise Resource Planning)<br />
    								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCM(Supply Chain Management)<br />
    								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CRM (Customer Relationship Management)<br />
    								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administraci&oacute;n de contenidos<br /><br />
									Icox Consulting trabaja con herramientas y lenguajes de programaci&oacute;n tales como PHP, ASP, JSP, .NET, 
									PERL, Java, Javascript, DHTML, VBScript, mySQL, mSQL, PostgreSQL, Microsoft SQL, C++ Builder, VBS, 
									Microsoft Access, Aplicaciones inhal&aacute;mbricas, E-Commerce (carrito de compras, log&iacute;stica, proceso de 
									pago) Dise&ntilde;o, Internet, Extranet, Intranet, entre otras.
								</p>
								</div>
								<!--	final contenido cuerpo		-->
								</td>
							</tr>
						</table>
					</td>
					<!--	final columna cuerpo		-->
					</tr>
				</table>
				</td>
			</tr>
<!--	fin cuerpo		-->
{include file="tpl.pie_es.html"}