<!--	inicio columna izquierda		-->
<td class="col_izquierda" valign="top">
	<table>
		<tr>
			<td class="titulo_1">>&nbsp;IDIOMAS</td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr><td height="15"></td></tr>
		<tr>
			<td align="center">
				<img src="{$stRUTAS.images}ar.jpg" border="0" onclick="document.location='change.php?language=_es';" style="cursor:pointer;" title="Espa&ntilde;ol">
			</td>
			<td align="center">
				<img src="{$stRUTAS.images}us_disabled.jpg" border="0" onclick="document.location='change.php?language=';" style="cursor:pointer;" title="Ingl&eacute;s">
			</td>
		</tr>
		<tr><td height="15"></td></tr>
	</table>
	<table>
		<tr>
			<td class="titulo_1">>&nbsp;SUBSECCIONES</td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr><td height="15"></td></tr>
		<tr>
			<td width="20" align="center"><img src="{$stRUTAS.images}flecha_col_izq.gif" border="0"></td>
			<td align="left"><span class="txt_izq" id="iz_offshore" onmouseover="colorIz(this.id,1)" onmouseout="colorIz(this.id,0)" onclick="goTo('offshore.php');">Offshore</span></td>
		</tr>
		<tr><td height="15"></td></tr>
		<tr>
			<td width="20" align="center"><img src="{$stRUTAS.images}flecha_col_izq.gif" border="0"></td>
			<td align="left"><span class="txt_izq" id="iz_developments" onmouseover="colorIz(this.id,1)" onmouseout="colorIz(this.id,0)" onclick="goTo('developments.php');">Desarrollos</span></td>
		</tr>
		<tr><td height="15"></td></tr>
		<tr>
			<td width="20" align="center"><img src="{$stRUTAS.images}flecha_col_izq.gif" border="0"></td>
			<td align="left"><span class="txt_izq" id="iz_consultancy" onmouseover="colorIz(this.id,1)" onmouseout="colorIz(this.id,0)" onclick="goTo('consultancy.php');">Consultor&iacute;a</span></td>
		</tr>
		<tr><td height="15"></td></tr>
		<!--<tr>
			<td width="20" align="center"><img src="{$stRUTAS.images}flecha_col_izq.gif" border="0"></td>
			<td align="left"><span class="txt_izq" id="iz_ebusiness" onmouseover="colorIz(this.id,1)" onmouseout="colorIz(this.id,0)" onclick="goTo('ebusiness.php');">E-business</span></td>
		</tr>
		<tr><td height="15"></td></tr>-->
		<tr>
			<td width="20" align="center"><img src="{$stRUTAS.images}flecha_col_izq.gif" border="0"></td>
			<td align="left"><span class="txt_izq" id="iz_networking" onmouseover="colorIz(this.id,1)" onmouseout="colorIz(this.id,0)" onclick="goTo('networking.php');">Networking</span></td>
		</tr>
		<tr><td height="15"></td></tr>
	</table>
</td>
<!--	final columna izquierda		-->