{include file="tpl.cabecera.html"}
<div class="banner">
  <div class="wrap">
    <h1>Servicios</h1>
    {include file="tpl.menu_top_es.html"}
  </div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda.html"}
    <div class="c_rigth ancho1">
      <h2>Quality Assurance </h2>
        <p class="txt_cuerpo">
            Today, information systems have become one of the most critical parts of companies; consequently, application errors pose a significant risk to their results. Similarly, the increased demand for adaptations in these applications is causing some companies to see how the daily maintenance and development of new projects cause great instability in their systems which leads to a poor perception of their services by the customer areas.<br />
            Icox knows how important quality control is becoming in the IT processes of organizations and the factorization potential that this type of services involves, so it has therefore decided to prioritize this aspect in its portfolio.<br />
        </p>
        <h2>Main functions of the QA service</h2>
        <p class="txt_cuerpo">
            <img width="198" border="0" hspace="6" height="340" style="float: left;" title="Image" alt="Image" src="{$stRUTAS.images}qa_en.gif">
            The test run requires the coordination of several steps, many testers, and a long series of scripts in different versions of the application code which are integrated. Solving this complexity requires having solutions that enable visibility of the entire cycle from a single point of control.
        </p>
        <p class="txt_cuerpo" style="padding-top: 33px;">
            <br/>
            The test run requires the coordination of several steps, many testers, and a long series of scripts in different versions of the application code which are integrated. Solving this complexity requires having solutions that enable visibility of the entire cycle from a single point of control.
        </p>
        <p class="txt_cuerpo" style="padding-top: 30px;">
            <br/>
            An efficient monitoring of incidents allows us to give visibility to the improving and stabilizing process of applications which, combined with the automation process of generated test cases, eliminates any possibility of regression.
        </p>
        
        <h2>Key success factors of QA service</h2>
        <p class="txt_cuerpo">
            At Icox we understand that the grounds of a successful QA service are two key pieces that will determine the level of efficiency of the process:
        </p>
        <p class="txt_cuerpo">
            <span style="color: #999999;font: oblique 15px/155% georgia,times,serif;margin: 0 auto;">
                Selection of tools to improve productivity
            </span><br/>
            <br/>
            Having a toolkit that allows different users to work in an integrated, coordinated and agile way throughout the lifecycle of an application is a decisive element in meeting the most demanding levels of effectiveness. To this effect, Icox works closely with the best QA solution developers in the market.<br/>
            <br/>
            <span style="color: #999999;font: oblique 15px/155% georgia,times,serif;margin: 0 auto;">
                Proper definition of the priority levels of tests
            </span><br/>
            <br/>
            Oreaching an agreement with the customer areas to optimize the value for risk-cost-time of testing enables the quality control areas of IT to make better decisions about the quality of applications and increase the level of confidence placed in commissioning.
        </p>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie.html"}
