<div class="footer">
<div class="wrap">
  <dl>
    <dt>SITE MAP</dt>
    <dd><a href="company.php">Company</a></dd>
    <dd><a href="services.php">Services</a></dd>
    <dd><a href="clients.php">Clients</a></dd>
    <dd><a href="#">News</a></dd>
    <dd><a href="portfolio.php">Portfolio</a></dd>
    <dd><a href="partners.php">Parteners</a></dd>
    <dd><a href="contact.php">Contact</a></dd>   
  </dl>
  <dl>
    <dt>LINKS</dt>
    <dd><a href="company.php">Corporate Information</a></dd>
    <dd><a href="management.php">Management</a></dd>
    <dd><a href="offices.php">Offices</a></dd>
    <dd><a href="#" onclick="downLoad('to_down/icox.pdf');">Corporate Brochure</a></dd>
    <dd><a href="privacy_policy.php">Privacy Policy</a></dd>
    <dd><a href="refund_policy.php">Refund Policy</a></dd>
  </dl>
  <dl>
    <dt>CONTACT</dt>
    <dd><strong> Tel. Espa&ntilde;a:</strong> +34 91 101 25 46 </dd>
    <dd><strong>Tel. USA:</strong> +1 860 288 2743</dd>
    <dd><strong>Tel. Argentina</strong> +54 351 5891419 / 5891429</dd>
    <dd><strong>Send mail to:</strong> <a href="mailto:info@icox.com">info@icox.com</a></dd>
  </dl>
  <dl class="rigth">
    <dt>CALL US</dt>
    <dd> <strong class="phone"> +34 91 101 25 46 </strong> </dd>
    <dd><span class="copy">Copyright &copy; 1995-2012 ICOX.<br />
      All Rights Reserved</span></dd>
    <dd><img class="logo" src="{$stRUTAS.images}logo_pie.jpg" width="116" height="47" alt="Icox.com" /></dd>
  </dl>
</div>
<div class="clear"></div>
</div>
<!--fin footer-->
</body>
</html>