{include file="tpl.cabecera_es.html"}
<div class="banner">
  <div class="wrap">
    <h1>Servicios</h1>
    {include file="tpl.menu_top_es.html"}
  </div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">
      <h2>Aseguramiento de la calidad </h2>
        <p class="txt_cuerpo">
            En la actualidad los sistemas de informaci&oacute;n se han convertido en una de las piezas m&aacute;s cr&iacute;ticas de las compa&ntilde;&iacute;as por
            lo que errores de las aplicaciones suponen un riesgo importante para sus resultados. Del mismo modo el aumento de la demanda de adaptaciones en dichas aplicaciones est&aacute;
            provocando que algunas compa&ntilde;&iacute;as vean como el mantenimiento diario y el desarrollo de nuevos proyectos provoca una gran inestabilidad de sus sistemas que conlleva una mala percepci&oacute;n
            de sus servicios por parte de las &aacute;reas cliente.<br />
            Icox como conocedor de la importancia que el control de calidad est&aacute; adquiriendo dentro de la funci&oacute;n inform&aacute;tica de las organizaciones
            y con el potencial de factorizaci&oacute;n que presenta este tipo de servicios ha decidido priorizarlo dentro de su portfolio.<br />
        </p>
        <h2>Principales funciones del servicio de QA</h2>
        <p class="txt_cuerpo">
            <img width="198" border="0" hspace="6" height="340" style="float: left;" title="Image" alt="Image" src="{$stRUTAS.images}qa.gif">
            La automatizaci&oacute;n de casos de prueba reduce de forma sustancial los esfuerzos de retesteo y los riesgos de poner en producci&oacute;n
            aplicaciones que no cumplan las expectativas. Nuestros equipos de QA crean conjuntos de pruebas reutilizables que minimizan la aparici&oacute;n
            de defectos por regresiones.
        </p>
        <p class="txt_cuerpo" style="padding-top: 33px;">
            <br/>
            La ejecuci&oacute;n de pruebas requiere la coordinaci&oacute;n de varias etapas, de muchos testeadores, y de una larga serie de scripts
            sobre diferentes versiones de c&oacute;digo de aplicaciones que se integran. Resolver de forma ordenada est&aacute; complejidad requiere
            disponer de soluciones que desde un &uacute;nico punto de control permitan dar visibilidad a todo el ciclo.
        </p>
        <p class="txt_cuerpo" style="padding-top: 15px;">
            <br/>
            Un eficiente seguimiento de las incidencias nos permite dar visibilidad al proceso de mejora y estabilizaci&oacute;n de las aplicaciones
            que combinado con el proceso de automatizaci&oacute;n de los casos de prueba que las han generado, permite eliminar cualquier posibilidad
            de regresi&oacute;n.
        </p>
        
        <h2>Factores claves de &eacute;xito del servicio de QA</h2>
        <p class="txt_cuerpo">
            Desde Icox entendemos que el &eacute;xito de los servicios de control de calidad se basa en dos aspectos clave que determinan el nivel de eficiencia del proceso:
        </p>
        <p class="txt_cuerpo">
            <span style="color: #999999;font: oblique 15px/155% georgia,times,serif;margin: 0 auto;">
                Selecci&oacute;n de herramientas para la mejora de productividad
            </span><br/>
            <br/>
            Disponer de un conjunto de herramientas que permita trabajar a los diferentes participantes de forma integrada, coordinada y &aacute;gil
            a lo largo del ciclo de vida de una aplicaci&oacute;n es un elemento determinante para el cumplimiento de los niveles de efectividad m&aacute;s
            exigentes. En este sentido Icox colabora estrechamente con los mejores desarrolladores de soluciones de mercado en el &aacute;mbito de QA.<br/>
            <br/>
            <span style="color: #999999;font: oblique 15px/155% georgia,times,serif;margin: 0 auto;">Adecuada definici&oacute;n de los niveles de prioridad de las pruebas</span><br/>
            <br/>
            Obtener un acuerdo con las &aacute;reas cliente que optimice la relaci&oacute;n Riesgo-Coste-Tiempo de las pruebas permite a las &aacute;reas de control de calidad de IT
            tomar las mejores decisiones acerca de la calidad de las aplicaciones y aumentar los niveles de confianza de las puestas en producci&oacute;n.
        </p>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}
