{include file="tpl.cabecera_es.html"}
<div class="banner">
  <div class="wrap"><h1>Precios</h1>
    {include file="tpl.menu_top_es.html"}
  </div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">
      <p>Los precios se definen en funci&oacute;n del tipo de servicio o necesidad del cliente; ya que hacemos desarrollos llave en mano; por lo cual ser&aacute; necesario solicitar un presupuesto para cada proyecto en particular.</p>
    <p class="c0"><span>An&aacute;lisis de sistemas/proyectos &hellip;..................................... $ 35*</span></p>
	<p class="c0"><span>L&iacute;der de proyecto &hellip;........................................................... $ 35*</span></p>
	<p class="c0"><span>Programci&oacute;n &hellip;.................................................................. $ 35*</span></p>
	<p class="c0"><span>Dise&ntilde;o &hellip;............................................................................ $ 35*</span></p>
	<p class="c0"><span>Consultor&iacute;a &hellip;..................................................................... $ 35*</span></p>
	<p class="c0"><span>Dise&ntilde;o de E-lerning &hellip;........................................................ $ 35*</span></p>
	<p class="c0"><span>Control de calidad &hellip;........................................................... $ 35*</span></p>
	<p class="c0 c1"><span class="c2"></span></p>
	<p class="c0"><span class="c2">*precios expresados en d&oacute;lares estadounidenses por hora por recurso. </span></p>

    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}
