{include file="tpl.cabecera.html"}
<div class="banner">
  <div class="wrap">
    <h1>Services</h1>
    <ul>
        <li><a href="offshore.php" id="iz_offshore">Offshore</a></li>
        <li><a href="developments.php" id="iz_developments">Developments</a></li>
        <li><a href="consultancy.php" id="iz_consultancy">Consultancy</a></li>
        <li><a href="ebusiness.php" id="iz_ebusiness" class="selected">E-business</a></li>
        <li><a href="networking.php" id="iz_networking" >Networking</a></li>
      </ul></div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda.html"}
    <div class="c_rigth ancho1">      
      <h2>What is E-business?</h2>
								<p class="txt_cuerpo">
									E-business is the transformation of the key processes of business, by means of using Internet technologies. An organization 
									based on e-business, directly connects the business critical systems, with its components (clients, employees, salesmen, 
									suppliers, partners, etc.) through intranets, extranets and the World Wide Web; involving also every marketing action, 
									publicity, management, logistic, human resources, etc. that is required to do in this enviroment; In brief, e-business 
									implies opening and managing a company online.<br />E-business is the new form of Internet commerce, without borders, 
									with a new exposition of the enterprise models, global clients, new payment systems and innovating strategies. If a 
									company wants to be present and in a profitable way in the new markets, it is necessary that their professionals know 
									the techniques necessary to implement the required technology. For that reason, any professional must be enabled to 
									manage, direct and plan programs that adapt to the existing enterprise requirements in the market.
								</p>
								<h2>The Importance of e-business at the present time</h2>
								<p class="txt_cuerpo">
									At the moment big as well as small companies use the Web to communicate with their associates, to connect themselves 
									to the data systems and to carry out commercial transactions. This is e-business, where Internet comes together with 
									the solidity and trustworthiness of traditional information technology.<br />This new paradigm fuses the standards, 
									the simplicity and the connectivity of Internet with the fundamental processes of the company. The new and revolutionary 
									applications are interactive, making possible transactions of enormous amounts of data and allowing to those who use them 
									to make businesses in a more rational and effective form.
								</p>
								<h2>The key is in changing</h2>
								<p class="txt_cuerpo">
									Enterprises that adopt e-business solutions are companies capable of adapting to constant changes. In order to carry 
									out the transitions without disadvantages, one must remember two important ideas:<br /><br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Begin in a simple way but plan a fast growth<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Use what you already have as a start point<br /><br />
									The goal behind the concept of e-business is to improve the present processes of the company in order to upgrade the 
									operative effectiveness that will reinforce the value that your company provide to your clients, a value that cannot 
									be obtained any other way and that will provide you with a remarkable advantage on your competitors.<br />
									Internet has changed the rules of the game. Clients now wait for more: better service, rapidity in the delivery, 
									better and faster response and complete access in time. And to satisfy thier demands, you need an e-business 
									infrastructure appropiately planned and executed. An infrastructure that can work 24 hours of the day, the seven 
									days of the week, 365 days of the year and that is ready to make their business more profitable.
								</p>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie.html"}