{include file="tpl.cabecera_es.html"}
<div class="banner"><div class="wrap"><h1>Pol&iacute;tica de Privacidad</h1></div></div>


<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">
      <p>Esta pol&iacute;tica explica c&oacute;mo se utiliza su informaci&oacute;n personal. Nos tomamos la privacidad muy en serio y tomar todas las medidas para proteger su informaci&oacute;n personal.</p>
      <p>Cualquier informaci&oacute;n personal recibida ser&aacute; utilizada solamente para completar su pedido. No vamos a vender o redistribuir su informaci&oacute;n a nadie.</p>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}

