{include file="tpl.cabecera_es.html"}
<!--	inicio cuerpo		-->
			<tr>
				<td valign="top" class="cuerpo">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" style="height:100%;">
					<tr>
					{include file="tpl.col_izquierda_es.html"}
					<!--	inicio columna cuerpo		-->
					<td class="col_cuerpo" valign="top" align="center">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
								<div class="borde_verde" id="div_img_4"><img src="{$stRUTAS.images}img_4.jpg" border="0"></div>
								<script type="text/javascript">var oImg_4 = new Spry.Effect.Blind('div_img_4', {ldelim}duration:1500,from:'10px',to:'250px'{rdelim});</script>
								<!--	inicio contenido cuerpo		-->
								<div class="div_cuerpo">
								<br />
								<div class="titulo_2">Oficinas</div>
								<table width="100%" cellpadding="15">
                                  <tr>
                                    <!--<td width="33%" align="left" valign="top"><p class="subtitulo_1">Argentina</p><p class="txt_ofices"> Coronel Olmedo 1062<br />
                                      Providencia<br />
                                      C.P: X5000LUJ<br />
                                      C&oacute;rdoba Argentina<br />
                                      <strong>Tel/Fax:</strong>&nbsp;+54 (351) 4721051 </p></td>-->
                                    <td width="34%" align="left" valign="top"><p class="subtitulo_1">Espa&ntilde;a</p><p class="txt_ofices">
												Av. Samosierra 12, Escalera izquierda, 2º Piso Letra E. San Sebasti&aacute;n de los Reyes, 28702, Madrid<br />
											 

									  <strong>Phone:</strong> +34 (91) 6238234</p></td>
                                    <td width="33%" align="left" valign="top"><p class="subtitulo_1">Estados Unidos</p><p class="txt_ofices"> 710 North Tucker Blvd. Suite 400A St. Louis<br />
                                      MO 63101<br />
                                      United States<br />
                                      <strong>Tel:</strong> +1 (484) 4615150 <br />
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+1 (646) 2259420</p></td>
                                  </tr>
                                </table>
								</div>
								<!--	final contenido cuerpo		-->
								</td>
							</tr>
						</table>
					</td>
					<!--	final columna cuerpo		-->
					</tr>
				</table>
				</td>
			</tr>
<!--	fin cuerpo		-->
{include file="tpl.pie_es.html"}