{include file="tpl.cabecera.html"}
<!--	inicio cuerpo		-->
			<tr>
				<td valign="top" class="cuerpo">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" style="height:100%;">
					<tr>
					{include file="tpl.col_izquierda_1.html"}
					<!--	inicio columna cuerpo		-->
					<td class="col_cuerpo" valign="top" align="center">
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td>
								<!--	inicio contenido cuerpo		-->
								<div class="div_cuerpo">
								<br />
								<div class="titulo_2">Networking</div>
								<p class="subtitulo_1">Local Network, Intranet and Extranet</p>
								<p class="txt_cuerpo">
									With the outburst of the new corporate working model related to the communication media, al sizes companies have realized 
									that they must use Internet in order to achieve a more competitive profile and to tontinue their succes in the new millenium.
									Internet is a new business concept and enterprises need technologies that improve the decision making process, and that 
									offer security and best performance. Solutions in this area change substantially the company structure, "boosting" them 
									to the new millenium.<br />
									A networking model is better adapted to take advantage of the Internet benefits, since it offers companies low administration 
									costs, faster application distribution, centralized application administration, and the possibility to exploit exisitng 
									hardware investments. All these facts express benefits that contribute to internal and external devolpment and productivity, 
									considering clients, users and providers. We understood the change to this new point of view and model. That is why we 
									develop products offered in today´s networking, and we continue carrying out unique technologies that help companies 
									take advantages of Internet´s potential. 
								</p>
								<p class="subtitulo_1">Corporate Connections</p>
								<p class="txt_cuerpo">
									Internet has become an essential enviroment in the new "information society" we live in. Our company gives you the chance 
									to "plug in" your enviroment or network to the World Wide Web, in optimal coditions so your firm can benefit from its 
									multiples advantages.<br />
									Some of the characteristics of the connection architecture that we offer, considering each client´s requirements, that 
									have been installed, configured and kept up in many clients are:<br /><br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Set up in non dedicated server, without additional lines or other equipment<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facilitating, administrating and imrpoving external connectivity with your users, clients and providers<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sharing resources and communication applications<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It does not modify other internal application programs<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It allows you to link different working areas and people with their internal mails<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Selected Internet access enabling of the company sections, and users identification<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internal e-mail accounts creation, mailing lists managment<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full compatibility with intranet web servers
								</p>
								<p class="subtitulo_1">Security</p>
								<p class="txt_cuerpo">
									The growing need of information and communication also leads us to the need of icreasing the safety measures, locally 
									and in the Internet connection. Internet exponential growth and Intranet conections carry to new security risks, 
									bringing new "company worries". Great amount of companies ask themselves many questions concerning these problems:<br />
									How can we use Internet commercially in a safe way?; How can one protect from unwanted visitors?; How can one control 
									net access?; How can one get a complete protection at a good price?<br />
									Icox has managed to join the technical expertise needed to lead your company through the successful way, regarding 
									security solutions.<br />
									Traditionally, Firewall systems, Tunnel and Anti-Virus like mechanisms for networks security were used. Firewall 
									rests on different technologies for reliable and flexible assembly of protective barriers between their private networks, 
									the Internet and other networks. Firewall offers you control functions, great security, real time surveillance, 
									and rejections mechanisms. Still with these performance qualifications, Firewalls only guarantee you network security 
									in a relative way.<br />
									By means of the use of theTunneling Procedures and utilizing global Internet as the main network, a very high and 
									confidential protection of your data is obtained, when extending your internal networks until turning them virtual 
									private networks (VPN). Through this Tunnel mechanism , you can establish a confidential, safe and economic communication 
									with your company, commercial partners, suppliers, external workers and their clients any place and any time.<br />
									An ample solution of security that extends throughout the borders of the company must have the capacity to be able 
									to offer a Concept of global Security that manages to consolidate all the entry points distributed in the company 
									(Internet/Intranet Server, Remote Server, Router, Switches, etc.), without loosing flexibility in the interconnections. 
									This security solution must leave the traditional concept of Firewall surpassed, as control of access to the Internet, 
									and offer a large solution, that adapts to the new requirements that are in constant evolution.<br />
									An integral interenterprise security solution (the so called "Security Suites") must incorporate the following components: 
									SecurityControl, Authentication, Encryption, Open Security Manager, Monitoring and Address Control (URL-Filtering), 
									Content Security, (Anti-Virus, URL and Java/ActiveX Screening), Connections Control, Protocolization possibilities 
									and Cost Control.<br />
									Icox helps you implement integral Security Systems so that your networks are safe and have the performance for the 
									exact exchange of information. With our technical Know-how and present practical experience, we guarantee you that 
									your network structure is under your enterprise processes requirements. We accompany you from the first ideas to the 
									definitive implementation of a general concept with regard to security systems.<br />
									Through individual concepts of security and configurations customized to each one of the communication services involved, 
									we manage to optimize your networks as far as security and service are concerned. 
								</p>
								</div>
								<!--	final contenido cuerpo		-->
								</td>
							</tr>
						</table>
					</td>
					<!--	final columna cuerpo		-->
					</tr>
				</table>
				</td>
			</tr>
<!--	fin cuerpo		-->
{include file="tpl.pie.html"}