{include file="tpl.cabecera.html"}
<script language="javascript" type="text/javascript">
{literal}
function startGallery() {
	var myGallery = new gallery($('myGallery'), {timed: false});
}
window.onDomReady(startGallery);
{/literal}
</script>
<div class="banner">
  <div class="wrap">
    <h1>Portfolio</h1>
  </div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda.html"}
    <div class="c_rigth ancho1">
      <h2 class="especial">{$stNOMBRE}
        <div class="alertaPdf" style="display:none;">
          <p>You must be logged in to<br />
            download printable brochure</p>
        </div>
        <span class="pdf"><img src="{$stRUTAS.images}pdf.jpg" /> Project brochure Quality: <a href="project_pdf.php?Id={$stID}&q=h" target="_blank">High</a> | <a href="project_pdf.php?Id={$stID}&q=l" target="_blank">Low</a></span> </h2>
      <div align="center"> {if $stFOTOS}
        <div id="myGallery"> {foreach from=$stFOTOS item=valor}
          <div class="imageElement"><img src="{$valor}" class="full" /></div>
          {/foreach} </div>
        {else}
        {if $stIMAGEN}<img src="{$stIMAGEN}" border="0">{/if}
        {/if} </div>
      {if $stCLIENTE}
      <p><strong>Client:&nbsp;</strong><span>{$stCLIENTE}</span></p>
      {/if}	
      {if $stREFERENCIA}
      <p> <strong>Web:</strong> <a href="{$stREFERENCIA}" target="_blank">{$stREFERENCIA}</a></p>
      {/if}            
      {if $stOBJETIVO}
      <p><strong>Objective:</strong></p>
      <p>{$stOBJETIVO}</p>
      {/if}
      {if $stSITUACION}
      <p><strong>Situation:</strong></p>
      <p>{$stSITUACION}</p>
      {/if}
      {if $stPROPUESTA}
      <p><strong>Proposal:</strong></p>
      <p>{$stPROPUESTA}</p>
      {/if}
      {if $stRESULTADOS}
      <p><strong>Results:</strong></p>
      <p>{$stRESULTADOS}</p>
      {/if} </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie.html"}