{include file="tpl.cabecera.html"}
<div class="banner"><div class="wrap"><h1>Management</h1></div></div>


<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda.html"}
    <div class="c_rigth ancho1">
      
      <h2>Permanent Staff</h2>
      <p> Icox Consulting is shaped by a solid group of fully experienced talents, with defined goals according to our company philosophy.<br />
        Together, our staff shares the compromise and responsibility of being part of an acknowledged international E-business company 
        that creates a synergy which places Icox Consulting as one of the most experienced information and business technology development companies in South America.
      <div style="font-family:arial;text-align:right;font-size:12px;color:#2C2C2C; font-style:italic;">Daniel Diego Godoy - CEO</div>
      </p>
      <h2>Company Values</h2>
      
          <dl><dt>Professionalism</dt>
          <dd>Work underlying the constant search for great quality of the service provided. Carry out plans in time and shape.</dd>
       
          <dt>Compromise</dt>
          <dd>One Hundred percent rapport with the clients requirements.</dd>
       
          <dt>Innovation</dt>
          <dd>Search for "what´s new", develop new concepts that help our clients achieve their goals. We think "Laterally".</dd>
       
          <dt>Knowledge Transmission</dt>
          <dd>No knowledge has sense if not transmitted. We train our clients to do their tasks on their own.</dd></dl>
       
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie.html"}