{include file="tpl.cabecera.html"}
<div class="banner">
  <div class="wrap"><h1>Prices</h1>
    {include file="tpl.menu_top.html"}
  </div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda.html"}
    <div class="c_rigth ancho1">
      <p>Prices are defined according to the type of service or customer need, and we do turnkey developments, for which a budget must be sought for each particular project.</p>
    <p class="c0"><span>Analysis of systems / projects &hellip;..................................... $ 35*</span></p>
	<p class="c0"><span>Project Leader &hellip;........................................................... $ 35*</span></p>
	<p class="c0"><span>Programming &hellip;.................................................................. $ 35*</span></p>
	<p class="c0"><span>Design &hellip;............................................................................ $ 35*</span></p>
	<p class="c0"><span>Consultancy &hellip;..................................................................... $ 35*</span></p>
	<p class="c0"><span>E-lerning design &hellip;........................................................ $ 35*</span></p>
	<p class="c0"><span>Quality control &hellip;........................................................... $ 35*</span></p>
	<p class="c0 c1"><span class="c2"></span></p>
	<p class="c0"><span class="c2">*Rates in U.S. dollars per hour per resource. </span></p>

    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie.html"}
