{include file="tpl.cabecera_es.html"}
<div class="banner"><div class="wrap"><h1>Contacto</h1></div></div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">
      
      {if $stERROR}
      <div class="texto_error">{$stERROR}</div>
      {/if}
      {if $stMENSAJE}
      <div class="texto_mensaje">{$stMENSAJE}</div>
      {/if}
      <script language="javascript" type="text/javascript">
{literal}
function check_contacto(){
	var nombre  = document.getElementById('nombre');
	var email   = document.getElementById('email');
	var telefono= document.getElementById('telefono');
	var consulta= document.getElementById('consulta');
	
	if (nombre.value == '')  {alert('Complete the Name');  nombre.focus(); return false;}
	if (email.value == '')   {alert('Complete the Email'); email.focus();  return false;}
	if (telefono.value == ''){alert('Complete the Phone'); phone.focus();  return false;}
	if (consulta.value == ''){alert('Complete the Consultation'); consultation.focus(); return false;}
	
	document.forms[0].submit();
	return true;
}
{/literal}
</script>
      <form method="POST" action="contact.php" enctype="multipart/form-data">
		<table width="486" cellpadding="0" cellspacing="0" border="0" class="contact">
			<tr><td height="10"></td></tr>
			<tr>
				<td class="titulo_3" valign="top" width="144"><strong>Datos Personales</strong></td>
				<td class="titulo_4" width="92"><label>* Nombre :</label></td>
				<td width="250"><input name="nombre" id="nombre" tabindex="1" type="text" class="caja_texto" style="width:250px;" value="{$stNOMBRE}" maxlength="50"></td>
			</tr>
			<tr><td height="5"></td></tr>
			<tr>
				<td>&nbsp;</td>
				<td class="titulo_4"><label>* Email :</label></td>
				<td><input name="email" id="email" tabindex="2" type="text" class="caja_texto" style="width:250px;" value="{$stEMAIL}" maxlength="200"></td>
			</tr>
			<tr><td height="5"></td></tr>
			<tr>
				<td>&nbsp;</td>
				<td class="titulo_4"><label>* Tel&eacute;fono :</label></td>
				<td><input name="telefono" id="telefono" tabindex="3" type="text" class="caja_texto" style="width:250px;" value="{$stTELEFONO}" maxlength="30"></td>
			</tr>
			<tr><td height="5"></td></tr>
			<tr>
				<td>&nbsp;</td>
				<td class="titulo_4"><label>Pa&iacute;s :</label></td>
				<td><input name="pais" id="pais" tabindex="4" type="text" class="caja_texto" style="width:250px;" value="{$stPAIS}" maxlength="50"></td>
			</tr>
			<tr><td height="5"></td></tr>
			<tr>
				<td>&nbsp;</td>
				<td class="titulo_4"><label>Ciudad :</label></td>
				<td><input name="ciudad" id="ciudad" tabindex="5" type="text" class="caja_texto" style="width:250px;" value="{$stCIUDAD}"maxlength="50"></td>
			</tr>
			<tr><td height="5"></td></tr>
			<tr>
				<td>&nbsp;</td>
				<td class="titulo_4"><label>Direcci&oacute;n :</label></td>
				<td><input name="direccion" id="direccion" tabindex="6" type="text" class="caja_texto" style="width:250px;" value="{$stDIRECCION}"maxlength="200"></td>
			</tr>
			<tr><td height="15"></td></tr>
			<tr>
				<td class="titulo_3" valign="top"><strong>* Consulta</strong></td>
				<td colspan="2"><textarea name="consulta" id="consulta" tabindex="7" class="caja_texto" style="width:340px;height:100px;">{$stCONSULTA}</textarea></td>
			</tr>
			<tr><td height="10"></td></tr>
			<tr>
				<td colspan="3">
					<table cellpadding="0" cellspacing="0" width="100%" border="0">
					<tr>
						<td style="font-family:arial;font-size:11px;color:#696969;">* campos requeridos</td>
						<td align="right">
							<input name="btn_ejecutar" tabindex="8" type="submit" value="Enviar" class="boton" onclick="return check_contacto();">
							<input name="btn_borrar" tabindex="9" type="button" value="Borrar" class="boton" onclick="document.location='contact.php';">
						</td>
					</tr>
					</table>
				</td>
			</tr>
			<tr><td height="10"></td></tr>
		</table>
</form>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}