 {include file="tpl.cabecera.html"}
<script language="javascript" type="text/javascript">
function resFiltro(){ldelim}
	var ind = document.getElementById('industria').value;
	var cat = document.getElementById('categoria').value;
	var sub = document.getElementById('subcategoria').value;

	document.location = 'portfolio.php?industria='+ind+'&categoria='+cat+'&subcategoria='+sub;
{rdelim}
</script>
<div class="banner">
  <div class="titulo_2">Portfolio</div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda.html"}
    <div class="c_rigth ancho1">
      <h1>Our Portfolio</h1>
      <p class="texto2">We offer our clients the best quality services and full advice in all their requirements. In the same manner, we follow 
        them through the whole implementation process and we train the maintenance and "execution" personnel for the purpose of 
        train their own human capital.<br />
        <br />
        {if $stPROYECTOS}See our work for companies who demand excellence:{/if}</p>
      <strong class="filter_title">Filter by</strong>
      <table cellpadding="0" cellspacing="10" border="0" width="100%" class="filtro">
        <tr>
          <td width="33%" ><label>Industria</label></td>
          <td width="33%" ><label>Categor&iacute;a</label></td>
          <td width="33%" ><label>Subcategor&iacute;a</label></td>
        </tr>
        <tr>
          <td><select name="industria" id="industria" class="caja_texto" style="width:190px;" onchange="resFiltro();">
              
              
			{$stINDUSTRIA}
		
            
            </select></td>
          <td><select name="categoria" id="categoria" class="caja_texto" style="width:190px;" onchange="resFiltro();">
              
              
			{$stCATEGORIA}
		
            
            </select></td>
          <td><select name="subcategoria" id="subcategoria" class="caja_texto" style="width:190px;" onchange="resFiltro();">
              
              
			{$stSUBCATEGORIA}
		
            
            </select></td>
        </tr>
      </table>
      <!-- et -->
      {if $stPROYECTOS}
      {foreach from=$stPROYECTOS key=id item=valor}
      <div class="proyecto"> {if $valor.Imagen}<img src="{$valor.Imagen}" border="0">{else}<img src="{$stRUTAS.images}sin_logo.jpg" border="0">{/if} <strong class="title">{$valor.Nombre}</strong>
        <p>{$valor.Cliente}</p>
        {if $valor.VerMas} <span class="ver_mas" onclick="document.location='project.php?Id={$id}';">ver m&aacute;s</span> {/if} </div>
      {/foreach}
      <div class="clear"></div>
      <table border="0" align="center">
        <tr>
          <td class="txt_paginado"> {foreach from=$stPAGES item=link key=page}
            {if $page == $stPAGE}{$page}&nbsp;
            {else}<a href="{$link}" style="color:#2C2C2C;">{$page}</a>&nbsp;{/if}
            {/foreach} </td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
      </table>
      {/if} </div>
    <!--fin c_rigth-->
  </div>
</div>
<!--fin content-->
{include file="tpl.pie.html"}