{include file="tpl.cabecera.html"}
<div class="banner">
  <div class="wrap">
    <h1>Services</h1>
    <ul>
        <li><a href="offshore.php" id="iz_offshore">Offshore</a></li>
        <li><a href="developments.php" id="iz_developments">Developments</a></li>
        <li><a href="consultancy.php" id="iz_consultancy" class="selected">Consultancy</a></li>
        <li><a href="ebusiness.php" id="iz_ebusiness">E-business</a></li>
        <li><a href="networking.php" id="iz_networking" >Networking</a></li>
      </ul></div>
</div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda.html"}
    <div class="c_rigth ancho1">      
      <h2>Marketing Plan</h2>
								<p class="txt_cuerpo">
									Icox consultants are qualified to perform a complete company situacional study, and based in your financial and economic goals, 
									diagram an Internet Marketing General Plan together with the CEO. This plan is considered a guide and a line of action, 
									assigning resources, achieveing goals and setting control gears that minimize diversions over the budget and maintain medium 
									and long term actions.<br />
									Considering Internet like a conducting thread of our scenes, and the fast changes that the present digital economy imposes 
									to the intervening actors, this plan must be followed as a guideline for performance, assigning resources, fulfilling 
									objectives and establishing control mechanisms that will minimize the deviations on the budget while medium and long 
									term actions remain unalterable.<br />
									This is why, once variables, intentions and actions are defined, stage implementation strategies are set, with clear and 
									measurable goals, in order to test the stages evolution and adjust its particular goals if any of the general strategy main 
									factors have modified its essence.<br />
									In this plan, general characteristics and particular activities are itemized, as well as company sections, areas or internal 
									actors that are supposed to perform them (from the advertising actions, to the complete company restructuring, going through 
									the products definition, meta market, comunication, sales strenght, clients)
								</p>
								<h2>Emerging Technologies</h2>
								<p class="txt_cuerpo">
									We are constantly training on new technologies in this "Unique Digital Space", were all economic trends converge, in order to 
									provide our clients with the highest innovation adn development standards, optimizing resources, and using the latest progresses 
									in comunication technology, hardware and software.This is a hard and complex task, considering that each and every new technology 
									must be followed, analysed and tested under the comercial benefit vision for our and your clients.<br />
									In addition to today´s particular volatile digital economic world, we cannot forget the fact that most of these progresses are 
									in the first stages and that there are not many explicit efficiency examples, or an "years of experience" background. In the 
									same manner, the human resources qualified enough to implement, administrate, and comunicate them are limited, and what could 
									be a strong competitive advantage in front of other actors, can easily become an obstacle when taking the wrong decision.<br />
									This is why in Icox testing laboratories, we are constantly analyzing and testing new alternative technologies and developments 
									in these areas:
									<ul><li>Data Base Adminstration and management</li>
									<li>Language Programming</li>
									<li>Software and working interface</li>
									<li>Comunication Networks</li>
									<li>Working Systems</li>
									<li>Security and Authentication</li>
									<li>E-commerce</li>
									<li>Multimedia Integrations.</li></ul>
								</p>
								<h2>Audits</h2>
								<p class="txt_cuerpo">
									In Icox we are constantly investigating about new technologies and structural, commercial and economic lineaments, with the 
									purpose of advising you on the best course of actions for your company. In this sense we have developed audit strategies in 
									present and future applied technology standards, and the way these standards affect productivity in your commercial areas.<br />
									Based on specific technical analysis, and using variables according to your company, aproximate productivity values and 
									improvement grades can be defined and achieved through a correct Transition Analysis and applying suitable Marketing Plans. 
									In the same manner, external audits are developed so as to define correct growth and functioning of technological/commercial 
									structures already mounted.<br />
									In the same manner, external audits are developed so as to define correct growth and functioning of technological/commercial 
									structures already mounted.
								</p>
								<h2>Transition Analysis</h2>
								<p class="txt_cuerpo">
									New technology implementation may decisively affect your economic position in the current changing market, but one must 
									consider that a wrong decision, may lead your company to a difficult quandary.<br />
									In order to prevent this from happening, Icox makes an exhaustive commercial and technological analysis of your company 
									structures, goals and strategies with the purpose of identifying and setting up the correct course of action required to 
									apply new computer assisted working models.<br />
									This is how methods, proceedings and stages can be defined, so the changes will not damage the coomercial structure and 
									human resources involved in the process. All these analysis and studies are closely related to the defined future company 
									programs, objectives and goals, so they must be clearly set in a Marketing Plan.
								</p>
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie.html"}