{include file="tpl.cabecera.html"}
            
            
<div class="banner"></div>
<!--fin banner-->
<div class="content">
  <div class="wrap">
    {include file="tpl.col_izquierda.html"}
<div class="c_rigth ancho1">
    	<h1>Mission</h1>
      	<p class="texto1">Icox Consulting is a professional services firm specia-lised in the design and execution of integral solutions orientated to B2B, B2C, B2E models inter alia. Icox Consulting focalizes in consulting, positioning, e-commerce, back end and front end developments for E-business and E-Government based systems.</p>
        <p class="texto1">Icox Consulting´s services aim to help organisations in their “profitability” revenue, productivity, growth and competitiveness requirements through the assessment in custom strategies, information and communication technologies development and implementation, which meet the digital economy conditions.</p>
        <h1>History</h1>
        <p class="texto1">Icox Consulting was born in 1995 as a Binational com-pany in Córdoba, Argentina, and Montreal, Canada, working from its beginning in the emerging internet e-conomy. During its existence, our firm has acquired great expertise in the subject, growing not only in knowledge, but also in development, innovation and implementation of the best technologies in the Internet field for Industries such as Tourism, Telecommunications, Financial Services, Customer and Industrial Market, Government and Natural resources, And Editorial.</p>
        <p class="texto1">During 2001, Icox Consulting associates with “Sitio Di-gital”, a Web Architecture development vanguard com-pany, aiming to offer the best quality services to our cli-ents.
Besides the main services that define and distin-guish our firm, we are currently working on the imple-mentation of new P2P technology based solutions in Canada, and on offshore developments for internatio-nal companies in Argentina. </p>
    </div><!--fin c_rigth-->
<div class="clear"></div>
  </div>
  
</div>
<!--fin content-->           
            

{include file="tpl.pie.html"}