{include file="tpl.cabecera_es.html"}
<div class="banner"></div>
<!--fin banner-->
<div class="content">
  <div class="wrap"> {include file="tpl.col_izquierda_es.html"}
    <div class="c_rigth ancho1">
      <h2>Clientes</h2>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" width="47%"> {if $stCOLUMNA1}
            <ul class="clientes_li">
              {foreach from=$stCOLUMNA1 item=col1}
              <li>{$col1}</li>
              {/foreach}
            </ul>
            {else}&nbsp;{/if} </td>
          <td valign="top" width="47%"> {if $stCOLUMNA2}
            <ul class="clientes_li">
              {foreach from=$stCOLUMNA2 item=col2}
              <li>{$col2}</li>
              {/foreach}
            </ul>
            {else}&nbsp;{/if} </td>
        </tr>
      </table>
    
    </div>
    <!--fin c_rigth-->
    <div class="clear"></div>
  </div>
</div>
<!--fin content-->
{include file="tpl.pie_es.html"}
